.review-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}
.review-section * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.review-section > .header {
    font-size: 24px;
    font-weight: 600;
}

.review-section > .description {
    font-size: 18px;
    background-color: #fff7b6;
}
.review-container {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}
.review-bar {
    display: flex;
    align-items: center;
    gap : 10px;
    position: relative;
}
.review-bar button{
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.review-bar span{
    transform: translateY(2px);
}
#review-drop {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    max-width: 100%;
    background-color: white;
    transform: translateY(100%);
    border-radius: 10px;
    padding: 20px;
}
#review-drop > p {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
}
#review-drop > p > span{
    font-size: 40px;
    color: orange;
}
.all-review-info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 15px;
}
.all-review-info > .stars > span {
    font-size: 20px;
    transform: translateY(-5px);
}
.star-bar {
    width: 100%;
    height: 12px;
    border-radius: 3px;
    background-color: rgb(220,220,220);
    overflow: hidden;
}
.star-bar > div {
    height: 100%;
    background-color: rgb(150,150,150);
    transform: translateX(-100%);
}
.getfull {
    animation: getfull 1s ease-in 0s 1 forwards;
}
@keyframes getfull {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
.star-total {
    font-size: 20px;
    transform: translateY(-5px);
}
.stars {
    color: orange;
}
#total-reviews{
    font-size: 18px;
}
#review-setting-btn {
    margin-left: auto;
    border: 1px solid rgb(200,200,200);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
#review-setting-btn span{
    font-size: 28px;
}
.review-content {
    margin: 20px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 285px);
    grid-auto-rows: 20px;
}
.review-item img{
    width: 100%;
}
.review-item {
    box-shadow: 0px 0px 5px 0px rgb(200,200,200);
    grid-row-end: span 8;
}
.review-detail {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-detail > p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.review-detail > p:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    color: rgb(150,150,150);
}
.review-detail > .stars > span{
    font-size: 15px;
}
.review-product {
    display: flex;
    gap : 15px;
    padding: 10px;
    border-top: 1px solid rgb(200,200,200);
}
.review-product p{
    font-size: 12px;
    color: rgb(100,100,100);
}
.review-product img{
    width: 50px;
}